body {
    background-color:bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    margin-bottom: 20px;
}

.explanation {
    margin-bottom: 5px;
    width: 400px;
}

#container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 40px, solid, red;
    border-radius: 30px;
}

#row {
    display: flex;
    flex: auto;
}

#cell-grey {
    background-color: rgb(50, 50, 50);
    opacity: 0;
    flex: auto;
}

#cell-rainbow {
    background-color: white;
    flex: auto;
}