body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-bottom: 20px;
}

.explanation {
    margin-bottom: 5px;
}

#container {
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
}

#cell {
    background-color: bisque;
    border: 1px solid black;
}